@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Josefin+Sans&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
.heading {
    font-size: 4vw;
}

.contacts {
    width: 70%;
    margin: auto;
    /* background: #c7dbff; */
    box-shadow: 0px 0px 9px 1px grey;
}
.info {
    width: 40%;
    display: inline-block;
    margin: 3vw;
    /* margin: auto; */
    text-align: center;
    background: #e0ff00;
    border-radius: 3vw;
    box-shadow: 2px 2px 5px 1px grey;
}
h1{
    font-family: 'Noto Serif', serif;
}
.info h1 {
    color: rgb(0 93 225);
    font-size: 2vw;
}
.info h4 {
    color: green;
    font-family: 'Josefin Sans', sans-serif;
    width: 88%;
    margin: auto;
    /* text-align: left; */
}
.info p {
    color: red;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.info h6 {
    color: pink;
    font-family: 'fantacy', monospace;
    font-weight: normal;
 }
.info h6 {
    color: crimson;
    font-family: 'Capsicum ,annuum;
    font-weight: 2vw;
}
